<div class="row">
  <div class="col-xs-3">
    <%= render 'layouts/user_info', user: @user %>
    <%= render 'layouts/new_book', book: @new_book %>
  </div>

  <div class="col-xs-9">
    <h1>
      Users
    </h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            image
          </th>
          <th>
            name
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size: '40x40', class: "pull-left profile-thumb" %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= link_to "Show", user_path(user.id) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
