<div class="row">
  <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>
  <div class="col-xs-3">
    <%= render 'layouts/user_info', user: @user %>
    <%= render 'layouts/new_book', book: @new_book %>
  </div>

  <div class="col-xs-9">
    <h1>Books</h1>

    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>
            Title
          </th>
          <th>
            Opinion
          </th>
        </tr>
      </thead>
      <tbody>
      <% @user.books.each do |book| %>
        <tr>
          <td>
            <%= link_to user_path(@user.id) do %>
              <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size: '40x40', class: "pull-left profile-thumb" %>
            <% end %>
          </td>
          <td>
            <%= link_to book.title, book_path(book.id) %>
          </td>
          <td>
            <%= book.body %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
