<h2>New book</h2>

<%= form_with model: book, local: true do |f| %>
  <div class="row field">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, class:"col-xs-12" %>
  </div>

  <div class="row field">
    <%= f.label :body, "Opinion" %>
    <%= f.text_area :body, class:"col-xs-12" %>
  </div>

  <div class="row">
    <%= f.submit "Create Book", class: 'btn btn-primary col-xs-12' %>
  </div>
<% end %>
